<VirtualHost *:{{http_port}}>

    Alias /static /var/www/app/static
    <Directory /var/www/app/static>
        Require all granted
    </Directory>
    <Directory /var/www/app/app>
        <Files wsgi.py>
            Require all granted
        </Files>
    </Directory>
    WSGIDaemonProcess webapps python-path=/var/www/app
    WSGIProcessGroup app
    WSGIScriptAlias / /var/www/webapps/app/wsgi.py

    LogLevel info
    ErrorLog /var/log/apache2/app-error.log
    CustomLog /var/log/apache2/app-access.log combined

</VirtualHost>