Alias /docs /var/www/docs

<Directory /var/www/docs/>
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>

ErrorLog ${APACHE_LOG_DIR}/docs-error.log
CustomLog ${APACHE_LOG_DIR}/docs-access.log combined
